<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="CartMapper">

	<resultMap id="cart" type="project.spring.hohotest.model.Cart">
		<result property="id" column="id" />
		<result property="member_id" column="member_id" />
		<result property="product_id" column="product_id" />
		<result property="amount" column="amount" />
		<result property="order_id" column="order_id" />
	</resultMap>
	
	<!-- 장바구니에 넣기 -->
	<insert id="insertCart" parameterType="project.spring.hohotest.model.Cart"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO cart (
			member_id, product_id, amount
		) VALUES (
			#{member_id}, #{product_id}, #{amount}
		)
	</insert>
	
	<!-- 특정 회원에 대한 장바구니 목록을 가져온다. -->
	<select id="selectCartList" parameterType="project.spring.hohotest.model.Cart"
		resultMap="cart">
		SELECT	id, member_id, product_id, amount, order_id
		FROM	cart
		WHERE	member_id=#{member_id} AND order_id=0
		ORDER BY id ASC
	</select>
	
	<!-- 장바구니에서 특정 제품 삭제 하기 -->
	<delete id="deleteCart" parameterType="project.spring.hohotest.model.Cart">
		DELETE FROM cart WHERE product_id=#{product_id}
	</delete>

</mapper>