<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="MemberMapper">

	<resultMap id="member" type="project.spring.hohotest.model.Member">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="user_id" column="user_id" />
		<result property="user_pw" column="user_pw" />
		<result property="email" column="email" />
		<result property="gender" column="gender" />
		<result property="birthdate" column="birthdate" />
		<result property="tel" column="tel" />
		<result property="postcode" column="postcode" />
		<result property="addr1" column="addr1" />
		<result property="addr2" column="addr2" />
	</resultMap>

</mapper>