<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="OrderMapper">

	<resultMap id="order" type="project.spring.hohotest.model.Order">
		<result property="id" column="id" />
		<result property="member_id" column="member_id" />
		<result property="reg_date" column="reg_date" />
		<result property="total" column="total" />
		<result property="status" column="status" />
	</resultMap>

</mapper>