<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ReviewMapper">

	<resultMap id="review" type="project.spring.hohotest.model.Review">
		<result property="id" column="id" />
		<result property="member_id" column="member_id" />
		<result property="product_id" column="product_id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="rating" column="rating" />
		<result property="image" column="image" />
		<result property="hit" column="hit" />
		<result property="reg_date" column="reg_date" />
		<result property="edit_date" column="edit_date" />
	</resultMap>
	
	<select id="selectReviewListByProductId" parameterType="project.spring.hohotest.model.Review"
		resultMap="review">
		SELECT	id, image, title, rating,
				DATE_FORMAT(edit_date, '%Y-%m-%d %H:%i:%s') as edit_date,
				hit, member_id from review 
		WHERE product_id=#{product_id}
		ORDER BY id desc
	</select>
	
	<select id="selectReviewById" parameterType="project.spring.hohotest.model.Review"
		resultMap="review">
		SELECT	id, image, title, rating, 
				DATE_FORMAT(edit_date, '%Y-%m-%d %H:%i:%s') as edit_date,
				hit, member_id, product_id, content 
		FROM review 
		WHERE id=#{id}
	</select>
	
	<insert id="insertReview" parameterType="project.spring.hohotest.model.Review">
		INSERT INTO review (title, content, rating, image, hit, reg_date, edit_date, product_id, member_id)
		VALUES (#{title}, #{content}, #{rating}, #{image}, 0, now(), now(), #{product_id}, #{member_id})
	</insert>
	
	<update id="updateReviewHit" parameterType="project.spring.hohotest.model.Review">
		UPDATE review SET hit=#{hit} WHERE id=#{id}
	</update>
	
	<update id="updateReview" parameterType="project.spring.hohotest.model.Review">
		UPDATE review 
		SET content=#{content}, image=#{image}, title=#{title}, edit_date=now()
		WHERE id=${id}
	</update>
	
	<delete id="deleteReview" parameterType="project.spring.hohotest.model.Review">
		DELETE FROM review
		WHERE id=${id}
	</delete>
</mapper>