@charset "UTF-8";

@font-face { font-family: 'BMDOHYEON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Arita-dotum-Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

div.row{
   display:inline-block;
   margin-top:50px;
   margin-bottom:50px;
}

div.container{
   width: 100%;
   text-align:center;
}

input[type=button]{
   margin-bottom:20px;
   margin-left:750px;
}

.width-200{
   width: 200px;   
}

.align-left-55{
   text-align:left;
   width: 55%;
}

.align-left{
   text-align:left;   
}
.none-hover {
   background-color: white;
}

td.text {
	text-align: right;
}

#font-BM {
	font-family: 'BMDOHYEON';
}

#font-Arita{
	font-family: 'Arita-dotum-Medium';
}